@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

body h1, h2, h3, p{
    margin-bottom: 0px;
}

body h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

body h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
}

body h3 {
    font-weight: 700;
    font-size: 20px;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

#main-content {
    display: none; /*nanti tukar display:none*/
    padding: 10px;
}

#music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.divider {
    height: 45px;
}

.save-calendar {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}
.save-calendar a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.save-calendar img {
    width: 50px;
    height: 50px;
    margin: 16px;
}

.container {
    width: 390px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

/* Background fixed inside the container */
.container::before {
    content: "";
    position: fixed;
    width: 390px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}
