@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;700&display=swap');

*, html {
    scroll-behavior: smooth !important;
}

body::-webkit-scrollbar { 
    display: none !important; 
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    scrollbar-width: none !important; 
    -ms-overflow-style: none !important;
}

body h1, h3, p{
    margin-bottom: 20px;
}

body h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    /* margin: 20px; */
}

body h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
}

body h3 {
    font-weight: 700;
    font-size: 20px;
    /* margin-bottom: 20px; */
}

.date p {
    margin: 0;
}

#hero {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 415px;
}

.card-image {
    width: 100%;
    height: auto;
}

.buka-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 76%;
    z-index: 2;
    transition: opacity 0.5s ease;
}

.navbar {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 415px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-around;
}

.bottom-navbar {
    width: 415px;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 9999;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.hidden {
    display: none;
}

#main-content {
    transition: opacity 10s ease;
    padding: 1rem;
    padding-top: 50px;
}

.main {
    padding-top: 100vh;
    opacity: 0;
    transition: opacity 1s ease;
}

.main.fade-in {
    opacity: 1;
}

#hero.slide-up {
    transform: none;
    position: relative;
    height: auto;
    top: 0;
    z-index: 1;
}

#bottomNavbar.show{
    display: block;
    animation: slideInUp 2s ease forwards;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

#main-content.fade-in {
    opacity: 1;
}

.section {
    padding-bottom: 74px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#location {
    display: flex;
    align-items: center;
}

#music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.divider {
    height: 45px;
}

.save-calendar {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}
.save-calendar a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.save-calendar img {
    width: 50px;
    height: 50px;
    margin: 16px;
}

.container {
    width: 415px;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding-bottom: 100px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Background fixed inside the container */
.container::before {
    content: "";
    position: fixed;
    width: 415px;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.role {
    font-size: 0.85em;
    color: #999;
    margin: 0;
}

.contact-icons a {
    margin-left: 10px;
}

.contact-icons img {
    width: 24px;
    height: 24px;
}
